#main
{
	background: #F7F4E4;
	margin: 0 auto;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	cursor: default;
	overflow: hidden;
}

table, ul.hmenu
{
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
	margin: 0;
	padding: 0;
}

.button
{
	border: 0;
	border-collapse: separate;
	-webkit-background-origin: border !important;
	-moz-background-origin: border !important;
	background-origin: border-box !important;
	background: #696969;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 0;
	padding: 0 21px;
	margin: 0 auto;
	height: 24px;
}

.postcontent, .postheadericons, .postfootericons, .blockcontent, ul.vmenu a
{
	text-align: left;
}

.postcontent, .postcontent li, .postcontent table, .postcontent a, .postcontent a:link, .postcontent a:visited, .postcontent a.visited, .postcontent a:hover, .postcontent a.hovered
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 175%;
}

.postcontent p
{
	margin: 13px 0;
}



.postcontent  a:hover, .postcontent a.hover
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #828282;
}

.postcontent h1
{
	color: #6B6B6B;
	margin: 10px 0 0;
	font-size: 26px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.blockcontent h1
{
	margin: 10px 0 0;
	font-size: 26px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h1 a, .postcontent h1 a:link, .postcontent h1 a:hover, .postcontent h1 a:visited, .blockcontent h1 a, .blockcontent h1 a:link, .blockcontent h1 a:hover, .blockcontent h1 a:visited
{
	font-size: 26px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h2
{
	color: #828282;
	margin: 10px 0 0;
	font-size: 22px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.blockcontent h2
{
	margin: 10px 0 0;
	font-size: 22px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h2 a, .postcontent h2 a:link, .postcontent h2 a:hover, .postcontent h2 a:visited, .blockcontent h2 a, .blockcontent h2 a:link, .blockcontent h2 a:hover, .blockcontent h2 a:visited
{
	font-size: 22px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h3
{
	color: #828282;
	margin: 10px 0 0;
	font-size: 20px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.blockcontent h3
{
	margin: 10px 0 0;
	font-size: 20px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:hover, .postcontent h3 a:visited, .blockcontent h3 a, .blockcontent h3 a:link, .blockcontent h3 a:hover, .blockcontent h3 a:visited
{
	font-size: 20px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h4
{
	color: #5E5E5E;
	margin: 10px 0 0;
	font-size: 18px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.blockcontent h4
{
	margin: 10px 0 0;
	font-size: 18px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:hover, .postcontent h4 a:visited, .blockcontent h4 a, .blockcontent h4 a:link, .blockcontent h4 a:hover, .blockcontent h4 a:visited
{
	font-size: 18px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h5
{
	color: #5E5E5E;
	margin: 10px 0 0;
	font-size: 15px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.blockcontent h5
{
	margin: 10px 0 0;
	font-size: 15px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:hover, .postcontent h5 a:visited, .blockcontent h5 a, .blockcontent h5 a:link, .blockcontent h5 a:hover, .blockcontent h5 a:visited
{
	font-size: 15px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h6
{
	color: #8F8F8F;
	margin: 10px 0 0;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.blockcontent h6
{
	margin: 10px 0 0;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:hover, .postcontent h6 a:visited, .blockcontent h6 a, .blockcontent h6 a:link, .blockcontent h6 a:hover, .blockcontent h6 a:visited
{
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #hmenu-bg, .sheet, .hmenu a, .vmenu a, .slidenavigator > a, .checkbox:before, .radiobutton:before
{
	-webkit-background-origin: border !important;
	-moz-background-origin: border !important;
	background-origin: border-box !important;
}

header, footer, article, nav, #hmenu-bg, .sheet, .slidenavigator > a, .checkbox:before, .radiobutton:before
{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



ol
{
	list-style-position: inside;
}

html, body
{
	height: 100%;
}

/**
	* 2. Prevent iOS text size adjust after orientation change, without disabling
	*    user zoom.
	* https://github.com/necolas/normalize.css
*/

html
{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body
{
	padding: 0;
	margin: 0;
	width:100%;
	color: #383838;
}

.header:before, #header-bg:before, .layout-cell:before, .layout-wrapper:before, .footer:before, .nav:before, #hmenu-bg:before, .sheet:before
{
	width: 100%;
	content: " ";
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}

.header:after, #header-bg:after, .layout-cell:after, .layout-wrapper:after, .footer:after, .nav:after, #hmenu-bg:after, .sheet:after, .cleared, .clearfix:after
{
	clear: both;
	font: 0/0 serif;
	display: block;
	content: " ";
}

form
{
	padding: 0 !important;
	margin: 0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}

li h1, .postcontent li h1, .blockcontent li h1
{
	margin: 1px;
}

li h2, .postcontent li h2, .blockcontent li h2
{
	margin: 1px;
}

li h3, .postcontent li h3, .blockcontent li h3
{
	margin: 1px;
}

li h4, .postcontent li h4, .blockcontent li h4
{
	margin: 1px;
}

li h5, .postcontent li h5, .blockcontent li h5
{
	margin: 1px;
}

li h6, .postcontent li h6, .blockcontent li h6
{
	margin: 1px;
}

li p, .postcontent li p, .blockcontent li p
{
	margin: 1px;
}

.shapes
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
}

.slider-inner
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.slidenavigator > a
{
	display: inline-block;
	vertical-align: middle;
	outline-style: none;
	font-size: 1px;
}

.slidenavigator > a:last-child
{
	margin-right: 0 !important;
}

.sheet
{
    margin: 0 auto;
    position: relative;
    cursor: auto;
    max-width: 990px;
    z-index: auto !important;
    padding: 0 10px;
    width: 100%;
	color: #000;
}

.header
{
	margin: 0 auto;
	background-repeat: no-repeat;
	height: 110px;
	background-image: url('../images/header.png');
	background-position: 0 0;
	position: relative;
	border-bottom: 2px solid #830e1e;
	z-index: auto !important;
	overflow:hidden;
}

.custom-responsive .header
{
	background-image: url('../images/header.png');
	background-position: 0 0;
}

.default-responsive .header, .default-responsive #header-bg
{
	background-position: center center;
	background-size: cover;
	border-bottom: 2px solid #830e1e;
}

.header>div.nostyle, .header>div.block, .header>div.post
{
	position: absolute;
	z-index: 101;
}

.nav
{
	margin: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	text-align: right;
}

ul.hmenu a, ul.hmenu a:link, ul.hmenu a:visited, ul.hmenu a:hover
{
	outline: none;
	position: relative;
	z-index: 11;
}

ul.hmenu, ul.hmenu ul
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

ul.hmenu li
{
	position: relative;
	z-index: 5;
	display: block;
	float: left;
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
}

ul.hmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

ul.hmenu:after, ul.hmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

ul.hmenu, ul.hmenu ul
{
	min-height: 0;
}

ul.hmenu
{
	display: inline-block;
	vertical-align: bottom;
}

.nav:before
{
	content: ' ';
}

nav.nav
{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.hmenu-extra1
{
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
	background-position: center;
}

.hmenu-extra2
{
	position: relative;
	display: block;
	float: right;
	width: auto;
	height: auto;
	background-position: center;
}

.hmenu
{
	float: right;
}

.menuitemcontainer
{
	margin: 0 auto;
}


.menu_en>li>a{
	padding: 0px 8px !important;
}
ul.hmenu>li>a
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0px 12px;
	margin: 0 auto;
	position: relative;
	display: block;
	height: 40px;
	cursor: pointer;
	text-decoration: none;
	color: #000000;
	line-height: 40px;
	text-align: center;
}

.hmenu>li>a, .hmenu>li>a:link, .hmenu>li>a:visited, .hmenu>li>a.active, .hmenu>li>a:hover
{
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	text-decoration: none;
	font-variant: normal;
	text-align: left;
}

ul.hmenu>li>a.active
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0px 12px;
	margin: 0 auto;
	color: #830E1E;
	text-decoration: none;
}

ul.hmenu>li>a:visited, ul.hmenu>li>a:hover, ul.hmenu>li:hover>a
{
	text-decoration: none;
}

ul.hmenu>li>a:hover, .desktop ul.hmenu>li:hover>a
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0px 12px;
	margin: 0 auto;
}

ul.hmenu>li>a:hover, .desktop ul.hmenu>li:hover>a
{
	color: #830E1E;
	text-decoration: none;
}

ul.hmenu li li a
{
	background: #7A7A7A;
	background: transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0 10px;
	margin: 0 auto;
}

ul.hmenu li li
{
	float: none;
	width: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

.desktop ul.hmenu li li ul>li:first-child
{
	margin-top: 0;
}

ul.hmenu li li ul>li:last-child
{
	margin-bottom: 0;
}

.hmenu ul a
{
	display: block;
	white-space: nowrap;
	height: 24px;
	min-width: 7em;
	border: 0 solid transparent;
	text-align: left;
	line-height: 24px;
	color: #7D7D7D;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
	margin: 0;
}

.hmenu ul a:link, .hmenu ul a:visited, .hmenu ul a.active, .hmenu ul a:hover
{
	text-align: left;
	line-height: 24px;
	color: #7D7D7D;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
	margin: 0;
}

ul.hmenu li li:after
{
	display: block;
	position: absolute;
	content: ' ';
	height: 0;
	top: -1px;
	left: 0;
	right: 0;
	z-index: 1;
	border-bottom: 1px dotted #D1D1D1;
}

.desktop ul.hmenu li li:first-child:before, .desktop ul.hmenu li li:first-child:after
{
	display: none;
}

ul.hmenu ul li a:hover, .desktop ul.hmenu ul li:hover>a
{
	background: #FFFFFF;
	background: transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
}

.hmenu ul a:hover
{
	text-decoration: none;
	color: #707070;
}

.desktop .hmenu ul li:hover>a
{
	color: #707070;
}

ul.hmenu ul:before
{
	background: #F2F2F2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px dotted rgba(217, 217, 217, 0.9);
	margin: 0 auto;
	display: block;
	position: absolute;
	content: ' ';
	z-index: 1;
}

.desktop ul.hmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.desktop ul.hmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

ul.hmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background-image: url('../images/spacer.gif');
}

.desktop ul.hmenu>li>ul
{
	padding: 16px 36px 36px 36px;
	margin: -10px 0 0 -30px;
}

.desktop ul.hmenu ul ul
{
	padding: 36px 36px 36px 18px;
	margin: -36px 0 0 -5px;
}

.desktop ul.hmenu ul.hmenu-left-to-right
{
	right: auto;
	left: 0;
	margin: -10px 0 0 -30px;
}

.desktop ul.hmenu ul.hmenu-right-to-left
{
	left: auto;
	right: 0;
	margin: -10px -30px 0 0;
}

.desktop ul.hmenu li li:hover>ul.hmenu-left-to-right
{
	right: auto;
	left: 100%;
}

.desktop ul.hmenu li li:hover>ul.hmenu-right-to-left
{
	left: auto;
	right: 100%;
}

.desktop ul.hmenu ul ul.hmenu-left-to-right
{
	right: auto;
	left: 0;
	padding: 36px 36px 36px 18px;
	margin: -36px 0 0 -5px;
}

.desktop ul.hmenu ul ul.hmenu-right-to-left
{
	left: auto;
	right: 0;
	padding: 36px 18px 36px 36px;
	margin: -36px -5px 0 0;
}

.desktop ul.hmenu li ul>li:first-child
{
	margin-top: 0;
}

.desktop ul.hmenu li ul>li:last-child
{
	margin-bottom: 0;
}

.desktop ul.hmenu ul ul:before
{
	border-radius: 4px;
	top: 30px;
	bottom: 30px;
	right: 30px;
	left: 12px;
}

.desktop ul.hmenu>li>ul:before
{
	top: 10px;
	right: 30px;
	bottom: 30px;
	left: 30px;
}

.desktop ul.hmenu>li>ul.hmenu-left-to-right:before
{
	right: 30px;
	left: 30px;
}

.desktop ul.hmenu>li>ul.hmenu-right-to-left:before
{
	right: 30px;
	left: 30px;
}

.desktop ul.hmenu ul ul.hmenu-left-to-right:before
{
	right: 30px;
	left: 12px;
}

.desktop ul.hmenu ul ul.hmenu-right-to-left:before
{
	right: 12px;
	left: 30px;
}

.desktop ul.hmenu>li.ext>a
{
	white-space: nowrap;
}

.desktop ul.hmenu>li.ext>a:hover, .desktop ul.hmenu>li.ext:hover>a, .desktop ul.hmenu>li.ext:hover>a.active
{
	background: none;
	padding: 0px 12px 0px 12px;
	margin: -0 -0 0 -0;
	overflow: hidden;
	position: relative;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: #7A7A7A;
}

.desktop ul.hmenu>li.ext>a:hover:before, .desktop ul.hmenu>li.ext:hover>a:before, .desktop ul.hmenu>li.ext:hover>a.active:before
{
	position: absolute;
	content: ' ';
	top: 0;
	right: 0;
	left: 0;
	bottom: -1px;
	background-color: #F2F2F2;
	border: 1px Dotted rgba(217, 217, 217, 0.9);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
	z-index: -1;
}

.desktop ul.hmenu>li.ext:hover>ul
{
	padding-top: 5px;
	margin-top: 0;
}

.desktop ul.hmenu>li.ext:hover>ul:before
{
	top: -1px;
	clip: rect(6px, auto, auto, auto);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.hmenu>li.ext>.ext-r, ul.hmenu>li.ext>.ext-l, ul.hmenu>li.ext>.ext-m, ul.hmenu>li.ext>.ext-off
{
	display: none;
	z-index: 12;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.desktop ul.hmenu>li.ext>ul
{
	z-index: 13;
}

.desktop ul.hmenu>li.ext.ext-r:hover>.ext-r, .desktop ul.hmenu>li.ext.ext-l:hover>.ext-l
{
	position: absolute;
	display: block;
	overflow: hidden;
	height: 6px;
	top: 100%;
	padding-top: 1px;
	margin-top: -1px;
}

.desktop ul.hmenu>li.ext:hover>.ext-r:before, .desktop ul.hmenu>li.ext:hover>.ext-l:before
{
	position: absolute;
	content: ' ';
	top: 0;
	bottom: -1px;
	background-color: #F2F2F2;
	border: 1px Dotted rgba(217, 217, 217, 0.9);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.hmenu>li.ext.ext-r:hover>.ext-r
{
	left: 100%;
	right: auto;
	padding-left: 0;
	margin-left: 0;
	padding-right: 1px;
	margin-right: -1px;
}

.desktop ul.hmenu>li.ext.ext-r:hover>.ext-r:before
{
	right: 0;
	left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 4px;
}

.desktop ul.hmenu>li.ext.ext-l:hover>.ext-l
{
	right: 100%;
	left: auto;
	padding-right: 0;
	margin-right: 0;
	padding-left: 1px;
	margin-left: -1px;
}

.desktop ul.hmenu>li.ext.ext-l:hover>.ext-l:before
{
	right: -1px;
	left: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 4px;
}

.desktop ul.hmenu>li.ext:hover>.ext-m, .desktop ul.hmenu>li.ext:hover>.ext-off
{
	position: absolute;
	display: block;
	overflow: hidden;
	height: 5px;
	top: 100%;
}

.desktop ul.hmenu>li.ext.ext-r:hover>.ext-m
{
	left: -0;
	right: 0;
	padding-right: 0;
	padding-left: 0;
}

.desktop ul.hmenu>li.ext:hover>.ext-off
{
	left: -0;
	right: -0;
	padding-left: 0;
	padding-right: 0;
}

.desktop ul.hmenu>li.ext.ext-l:hover>.ext-m
{
	right: -0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.desktop ul.hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
	right: -0;
	left: -0;
	padding-left: 0;
	padding-right: 0;
}

.desktop ul.hmenu>li.ext:hover>.ext-m:before, .desktop ul.hmenu>li.ext:hover>.ext-off:before
{
	position: absolute;
	content: ' ';
	top: -1px;
	bottom: -1px;
	background-color: #F2F2F2;
	border: 1px Dotted rgba(217, 217, 217, 0.9);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.hmenu>li.ext.ext-r:hover>.ext-m:before
{
	right: -1px;
	left: 0;
}

.desktop ul.hmenu>li.ext.ext-l:hover>.ext-m:before
{
	left: -1px;
	right: 0;
}

.desktop ul.hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
	left: -1px;
	right: -1px;
}

.layout-wrapper
{
	position: relative;
	margin: 20px auto 0 auto;
	z-index: auto !important;
}

.content-layout
{
	display: table;
	width: 100%;
	table-layout: fixed;
}

.content-layout-row
{
	display: table-row;
}

.layout-cell
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: top;
}

.postcontent .content-layout
{
	border-collapse: collapse;
}

.vmenublock
{
	margin: 3px;
}

div.vmenublock img
{
	margin: 0;
}

.vmenublockheader
{
	padding: 10px 0;
	margin: 0 auto 7px;
}

.vmenublockheader .t, .vmenublockheader .t a, .vmenublockheader .t a:link, .vmenublockheader .t a:visited, .vmenublockheader .t a:hover
{
	color: #878787;
	font-size: 20px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	margin: 0 10px;
}

.vmenublockcontent
{
	margin: 0 auto;
}

ul.vmenu, ul.vmenu ul
{
	list-style: none;
	display: block;
}

ul.vmenu, ul.vmenu li
{
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	line-height: 0;
}

ul.vmenu
{
	margin-top: 0;
	margin-bottom: 0;
}

ul.vmenu ul
{
	display: none;
	margin: 0;
	padding: 0;
	position: relative;
}

ul.vmenu ul.active
{
	display: block;
}

ul.vmenu>li>a
{
	padding: 0 15px;
	margin: 0 auto;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #6B6B6B;
	min-height: 30px;
	line-height: 30px;
}

ul.vmenu a
{
	display: block;
	cursor: pointer;
	z-index: 1;
	position: relative;
}

ul.vmenu li
{
	position: relative;
}

ul.vmenu>li
{
	margin-top: 0;
}

ul.vmenu>li>ul
{
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul.vmenu>li:first-child
{
	margin-top: 0;
}

ul.vmenu>li>a:before
{
	content: url('../images/vmenuitemicon.png');
	margin-right: 5px;
	bottom: 2px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
}

.opera ul.vmenu>li>a:before
{
	bottom: 0;
}

ul.vmenu>li>a.active:before
{
	content: url('../images/vmenuactiveitemicon.png');
	margin-right: 5px;
	bottom: 2px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
}

.opera ul.vmenu>li>a.active:before
{
	bottom: 0;
}

ul.vmenu>li>a:hover:before, ul.vmenu>li>a.active:hover:before, ul.vmenu>li:hover>a:before, ul.vmenu>li:hover>a.active:before
{
	content: url('../images/vmenuhovereditemicon.png');
	margin-right: 5px;
	bottom: 2px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
}

.opera ul.vmenu>li>a:hover:before, .opera   ul.vmenu>li>a.active:hover:before, .opera   ul.vmenu>li:hover>a:before, .opera   ul.vmenu>li:hover>a.active:before
{
	bottom: 0;
}

ul.vmenu>li>a:hover, ul.vmenu>li>a.active:hover
{
	padding: 0 15px;
	margin: 0 auto;
}

ul.vmenu>li>a:hover, ul.vmenu>li>a.active:hover
{
	text-decoration: none;
}

ul.vmenu a:hover, ul.vmenu a.active:hover
{
	color: #6B6B6B;
}

ul.vmenu>li>a.active:hover>span.border-top, ul.vmenu>li>a.active:hover>span.border-bottom
{
	background-color: transparent;
}

ul.vmenu>li>a.active
{
	padding: 0 15px;
	margin: 0 auto;
	text-decoration: none;
	color: #6B6B6B;
}

ul.vmenu>li>ul:before
{
	margin: 0 auto;
	display: block;
	position: absolute;
	content: ' ';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

ul.vmenu li li a
{
	margin: 0 auto;
	position: relative;
}

ul.vmenu ul li
{
	margin: 0;
	padding: 0;
}

ul.vmenu li li
{
	position: relative;
	margin-top: 0;
}

ul.vmenu ul a
{
	display: block;
	position: relative;
	min-height: 22px;
	overflow: visible;
	padding: 0;
	padding-left: 27px;
	padding-right: 27px;
	z-index: 0;
	line-height: 22px;
	color: #6B6B6B;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin-left: 0;
	margin-right: 0;
}

ul.vmenu ul a:visited, ul.vmenu ul a.active:hover, ul.vmenu ul a:hover, ul.vmenu ul a.active
{
	line-height: 22px;
	color: #6B6B6B;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin-left: 0;
	margin-right: 0;
}

ul.vmenu ul ul a
{
	padding-left: 54px;
}

ul.vmenu ul ul ul a
{
	padding-left: 81px;
}

ul.vmenu ul ul ul ul a
{
	padding-left: 108px;
}

ul.vmenu ul ul ul ul ul a
{
	padding-left: 135px;
}

ul.vmenu ul>li>a:hover, ul.vmenu ul>li>a.active:hover
{
	margin: 0 auto;
}

ul.vmenu ul li a:hover, ul.vmenu ul li a.active:hover
{
	text-decoration: none;
	color: #6B6B6B;
}

ul.vmenu ul a:hover:after
{
	background-position: center;
}

ul.vmenu ul a.active:hover:after
{
	background-position: center;
}

ul.vmenu ul a.active:after
{
	background-position: bottom;
}

ul.vmenu ul>li>a.active
{
	margin: 0 auto;
}

ul.vmenu ul a.active, ul.vmenu ul a:hover, ul.vmenu ul a.active:hover
{
	text-decoration: none;
	color: #6B6B6B;
}

.block
{
	margin: 3px;
}

div.block img
{
	border: none;
	margin: 0;
}

.blockheader
{
	padding: 6px 5px;
	margin: 0 auto 2px;
}

.blockheader .t, .blockheader .t a, .blockheader .t a:link, .blockheader .t a:visited, .blockheader .t a:hover
{
	color: #787878;
	font-size: 20px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	margin: 0 5px;
}

.blockcontent
{
	padding: 5px;
	margin: 0 auto;
	color: #383838;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 175%;
}

.blockcontent table, .blockcontent li, .blockcontent a, .blockcontent a:link, .blockcontent a:visited, .blockcontent a:hover
{
	color: #383838;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 175%;
}

.blockcontent p
{
	margin: 0 5px;
}

.blockcontent a, .blockcontent a:link
{
	color: #828282;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.blockcontent a:visited, .blockcontent a.visited
{
	color: #919191;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
}

.blockcontent a:hover, .blockcontent a.hover
{
	color: #6B6B6B;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
}

.block ul>li:before
{
	content: url('../images/blockbullets.png');
	margin-right: 6px;
	bottom: 2px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	margin-left: -12px;
}

.opera .block ul>li:before
{
	bottom: 0;
}

.block li
{
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 175%;
	color: #5E5E5E;
	margin: 5px 0 0 10px;
}

.block ul>li, .block ol
{
	padding: 0;
}

.block ul>li
{
	padding-left: 12px;
}

.breadcrumbs
{
	margin: 0 auto;
}



input, select, textarea, a.search-button span
{
	vertical-align: middle;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}

.block select
{
	width: 96%;
}



input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
	background: #FAFAFA;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #7A7A7A;
	margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
	width: 100%;
	padding: 4px 0;
	color: #525252 !important;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-shadow: none;
}

input.error, textarea.error
{
	background: #FAFAFA;
	border: 1px solid #E2341D;
	margin: 0 auto;
}

input.error, textarea.error
{
	color: #525252 !important;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}

form.search input[type="text"]
{
	background: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #D6D6D6;
	margin: 0 auto;
	width: 100%;
	padding: 4px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #404040 !important;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}

form.search
{
	background-image: none;
	border: 0;
	display: block;
	position: relative;
	top: 0;
	padding: 0;
	margin: 5px;
	left: 0;
	line-height: 0;
}

form.search input, a.search-button
{
	-webkit-appearance: none;
	top: 0;
	right: 0;
}

form.search>input, a.search-button
{
	bottom: 0;
	left: 0;
	vertical-align: middle;
}

form.search input[type="submit"], input.search-button, a.search-button
{
	border-radius: 0;
	margin: 0 auto;
}

form.search input[type="submit"], input.search-button, a.search-button
{
	position: absolute;
	left: auto;
	display: block;
	border: none;
	background: url('../images/searchicon.png') center center no-repeat;
	width: 24px;
	height: 100%;
	padding: 0;
	color: #FFFFFF !important;
	cursor: pointer;
}

a.search-button span.search-button-text
{
	display: none;
}

label.checkbox:before
{
	background: #FAFAFA;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-width: 0;
	margin: 0 auto;
	width: 16px;
	height: 16px;
}

label.checkbox
{
	cursor: pointer;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	line-height: 16px;
	display: inline-block;
	color: #383838 !important;
}

.checkbox>input[type="checkbox"]
{
	margin: 0 5px 0 0;
}

label.checkbox.active:before
{
	background: #7A7A7A;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-width: 0;
	margin: 0 auto;
	width: 16px;
	height: 16px;
	display: inline-block;
}

label.checkbox.hovered:before
{
	background: #949494;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-width: 0;
	margin: 0 auto;
	width: 16px;
	height: 16px;
	display: inline-block;
}

label.radiobutton:before
{
	background: #FAFAFA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 0;
	margin: 0 auto;
	width: 12px;
	height: 12px;
}

label.radiobutton
{
	cursor: pointer;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	line-height: 12px;
	display: inline-block;
	color: #383838 !important;
}

.radiobutton>input[type="radio"]
{
	vertical-align: baseline;
	margin: 0 5px 0 0;
}

label.radiobutton.active:before
{
	background: #7A7A7A;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 0;
	margin: 0 auto;
	width: 12px;
	height: 12px;
	display: inline-block;
}

label.radiobutton.hovered:before
{
	background: #949494;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 0;
	margin: 0 auto;
	width: 12px;
	height: 12px;
	display: inline-block;
}

.comments
{
	border-top: 1px dotted #696969;
	margin: 0 auto;
	margin-top: 25px;
}

.comments h2
{
	color: #242424;
}

.comment-inner
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
	margin: 0 auto;
	margin-left: 96px;
}

.comment-avatar
{
	float: left;
	width: 80px;
	height: 80px;
	padding: 2px;
	background: #fff;
	border: 1px solid #E8E8E8;
}

.comment-avatar>img
{
	margin: 0 !important;
	border: none !important;
}

.comment-content
{
	padding: 10px 0;
	color: #383838;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.comment
{
	margin-top: 6px;
}

.comment:first-child
{
	margin-top: 0;
}

.comment-header
{
	color: #242424;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 100%;
}

.comment-header a, .comment-header a:link, .comment-header a:visited, .comment-header a.visited, .comment-header a:hover, .comment-header a.hovered
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 100%;
}

.comment-header a, .comment-header a:link
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: bold;
	font-style: normal;
	color: #787878;
}

.comment-header a:visited, .comment-header a.visited
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #787878;
}

.comment-header a:hover, .comment-header a.hovered
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #787878;
}

.comment-content a, .comment-content a:link, .comment-content a:visited, .comment-content a.visited, .comment-content a:hover, .comment-content a.hovered
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.comment-content a, .comment-content a:link
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #5E5E5E;
}

.comment-content a:visited, .comment-content a.visited
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #4A4A4A;
}

.comment-content a:hover, .comment-content a.hovered
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #5E5E5E;
}

.pager
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 6px;
	margin: 2px;
}

.pager>*:last-child
{
	margin-right: 0 !important;
}

.pager>span
{
	cursor: default;
}

.pager>*
{
	background: #949494;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	margin: 0 4px 0 auto;
	line-height: normal;
	position: relative;
	display: inline-block;
	margin-left: 0;
}

.pager a:link, .pager a:visited, .pager .active
{
	line-height: normal;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
	color: #121212;
}

.pager .active
{
	background: #BFBFBF;
	padding: 10px;
	margin: 0 4px 0 auto;
	color: #FFFFFF;
}

.pager .more
{
	background: #949494;
	margin: 0 4px 0 auto;
}

.pager a.more:link, .pager a.more:visited
{
	color: #121212;
}

.pager a:hover
{
	background: #7A7A7A;
	padding: 10px;
	margin: 0 4px 0 auto;
}

.pager  a:hover, .pager  a.more:hover
{
	text-decoration: none;
	color: #DEDEDE;
}

.pager>*:after
{
	margin: 0 0 0 auto;
	display: inline-block;
	position: absolute;
	content: ' ';
	top: 0;
	width: 0;
	height: 100%;
	right: 0;
	text-decoration: none;
}

.pager>*:last-child:after
{
	display: none;
}

.commentsform
{
	background: #E8E8E8;
	background: transparent;
	padding: 10px;
	margin: 0 auto;
	margin-top: 25px;
	color: #242424;
}

.commentsform h2
{
	padding-bottom: 10px;
	margin: 0;
	color: #242424;
}

.commentsform label
{
	display: inline-block;
	line-height: 25px;
}

.commentsform input:not([type=submit]), .commentsform textarea
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	max-width: 100%;
}

.commentsform .form-submit
{
	margin-top: 10px;
}



a img
{
	border: 0;
}

.article img, img.article, .block img, .footer img
{
	margin: 7px 7px 7px 7px;
}

.metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}

.article table, table.article
{
	border-collapse: collapse;
	margin: 1px;
}

.post .content-layout-br
{
	height: 0;
}

.article th, .article td
{
	padding: 2px;
	border: solid 1px #7A7A7A;
	vertical-align: top;
	text-align: left;
}

.article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

pre
{
	overflow: auto;
	padding: 0.1em;
}

.preview-cms-logo
{
	border: 0;
	margin: 1em 1em 0 0;
	float: left;
}

.image-caption-wrapper
{
	padding: 7px 7px 7px 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.image-caption-wrapper img
{
	margin: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.image-caption-wrapper div.collage
{
	margin: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.image-caption-wrapper p
{
	font-size: 80%;
	text-align: right;
	margin: 0;
}

.postheader
{
	color: #5E5E5E;
	margin: 5px 10px;
	font-size: 24px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}

.postheader a, .postheader a:link, .postheader a:visited, .postheader a.visited, .postheader a:hover, .postheader a.hovered
{
	font-size: 24px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}

.postheader a, .postheader a:link
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
	text-align: left;
	color: #8F8F8F;
}

.postheader a:visited, .postheader a.visited
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
	text-align: left;
	color: #828282;
}

.postheader a:hover, .postheader a.hovered
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
	text-align: left;
	color: #828282;
}

.postheadericons, .postheadericons a, .postheadericons a:link, .postheadericons a:visited, .postheadericons a:hover
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #5E5E5E;
}

.postheadericons
{
	padding: 1px;
	margin: 0 0 0 10px;
}

.postheadericons a, .postheadericons a:link
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
	color: #737373;
}

.postheadericons a:visited, .postheadericons a.visited
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #5C5C5C;
}

.postheadericons a:hover, .postheadericons a.hover
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
	color: #5C5C5C;
}

.postdateicon:before
{
	content: url('../images/postdateicon.png');
	margin-right: 6px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	bottom: auto;
}

.opera .postdateicon:before
{
	bottom: 0;
}

.postauthoricon:before
{
	content: url('../images/postauthoricon.png');
	margin-right: 6px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	bottom: auto;
}

.opera .postauthoricon:before
{
	bottom: 0;
}

.postediticon:before
{
	content: url('../images/system/edit.png');
	margin-right: 6px;
	bottom: 2px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
}

.opera .postediticon:before
{
	bottom: 0;
}



blockquote
{
	background: #F2F2F2 url('../images/postquote.png') no-repeat scroll;
	padding: 10px 10px 10px 47px;
	margin: 10px 0 0 25px;
	color: #121212;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	overflow: auto;
	clear: both;
}

blockquote a, .postcontent blockquote a, .blockcontent blockquote a, .footer blockquote a, blockquote a:link, .postcontent blockquote a:link, .blockcontent blockquote a:link, .footer blockquote a:link, blockquote a:visited, .postcontent blockquote a:visited, .blockcontent blockquote a:visited, .footer blockquote a:visited, blockquote a:hover, .postcontent blockquote a:hover, .blockcontent blockquote a:hover, .footer blockquote a:hover
{
	color: #121212;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

blockquote p, .postcontent blockquote p, .blockcontent blockquote p, .footer blockquote p
{
	margin: 0;
	margin: 5px 0;
}

.Sorter img
{
	border: 0;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	position: static;
	z-index: 1;
	width: 12px;
	height: 6px;
}

.Sorter a
{
	position: relative;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #5C5C5C;
}

.Sorter a:link
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #5C5C5C;
}

.Sorter a:visited, .Sorter a.visited
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #5C5C5C;
}

.Sorter a:hover, .Sorter a.hover
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #454545;
}

.Sorter
{
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #383838;
}

.footer
{
	background: #830E1E;
	margin: 20px auto 0;
	position: relative;
	color: #FFFFFF;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 175%;
	text-align: center;
	padding: 0;
}

.footer a, .footer a:link, .footer a:visited, .footer a:hover, .footer td, .footer th, .footer caption
{
	color: #FFFFFF;
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 175%;
}

.footer p
{
	padding: 0;
	text-align: center;
}

.footer a, .footer a:link
{
	color: #B8B8B8;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
}

.footer a:visited
{
	color: #A8A8A8;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: none;
}

.footer a:hover
{
	color: #B8B8B8;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-decoration: underline;
}

.footer h1
{
	color: #595959;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.footer h2
{
	color: #696969;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.footer h3
{
	color: #696969;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.footer h4
{
	color: #7A7A7A;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.footer h5
{
	color: #7A7A7A;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.footer h6
{
	color: #7A7A7A;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.footer img
{
	border: none;
	margin: 0;
}

.footer-inner
{
	margin: 0 auto;
	max-width: 990px;
	width:100%;
	padding: 25px;
	padding-right: 25px;
	padding-left: 25px;
	position:relative;
}

.rss-tag-icon
{
	background: url('../images/footerrssicon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.rss-tag-icon:empty
{
	vertical-align: middle;
}

.facebook-tag-icon
{
	background: url('../images/footerfacebookicon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.facebook-tag-icon:empty
{
	vertical-align: middle;
}

.twitter-tag-icon
{
	background: url('../images/footertwittericon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.twitter-tag-icon:empty
{
	vertical-align: middle;
}

.tumblr-tag-icon
{
	background: url('../images/tumblricon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.tumblr-tag-icon:empty
{
	vertical-align: middle;
}

.pinterest-tag-icon
{
	background: url('../images/pinteresticon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.pinterest-tag-icon:empty
{
	vertical-align: middle;
}

.vimeo-tag-icon
{
	background: url('../images/vimeoicon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.vimeo-tag-icon:empty
{
	vertical-align: middle;
}

.youtube-tag-icon
{
	background: url('../images/youtubeicon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.youtube-tag-icon:empty
{
	vertical-align: middle;
}

.linkedin-tag-icon
{
	background: url('../images/linkedinicon.png') no-repeat scroll;
	margin: 0 auto;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-indent: 35px;
	background-position: left center;
	vertical-align: middle;
}

.linkedin-tag-icon:empty
{
	vertical-align: middle;
}

.opera .footer ul>li:before
{
	bottom: 0;
}

.footer li
{
	font-size: 13px;
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	color: #E5E5E5;
}

.footer ul>li, .footer ol
{
	padding: 0;
}

.footer ul>li
{
}

.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-family: Arial;
	font-size: 10px;
	letter-spacing: normal;
	word-spacing: normal;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	color: #DEDEDE;
}

.page-footer
{
	position: relative;
	z-index: auto !important;
	padding: 1em;
	text-align: center !important;
	text-decoration: none;
	color: #CFCFCF;
}

.lightbox-wrapper
{
	background: #333;
	background: rgba(0, 0, 0, .8);
	bottom: 0;
	left: 0;
	padding: 0 100px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1000000;
}

.lightbox, .lightbox-wrapper .lightbox-image
{
	cursor: pointer;
}

.lightbox-wrapper .lightbox-image
{
	border: 6px solid #fff;
	border-radius: 3px;
	display: none;
	max-width: 100%;
	vertical-align: middle;
}

.lightbox-wrapper .lightbox-image.active
{
	display: inline-block;
}

.lightbox-wrapper .lightbox-error
{
	background: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 10px;
	box-shadow: 0 2px 5px #333;
	height: 80px;
	opacity: .95;
	padding: 20px;
	position: fixed;
	width: 300px;
	z-index: 100;
}

.lightbox-wrapper .loading
{
	background: #fff url('../images/preloader-01.gif') center center no-repeat;
	border: 1px solid #b4b4b4;
	border-radius: 10px;
	box-shadow: 0 2px 5px #333;
	height: 32px;
	opacity: .5;
	padding: 10px;
	position: fixed;
	width: 32px;
	z-index: 10100;
}

.lightbox-wrapper .arrow
{
	cursor: pointer;
	height: 100px;
	opacity: .5;
	filter: alpha(opacity=50);
	position: fixed;
	width: 82px;
	z-index: 10003;
}

.lightbox-wrapper .arrow.left
{
	left: 9px;
}

.lightbox-wrapper .arrow.right
{
	right: 9px;
}

.lightbox-wrapper .arrow:hover
{
	opacity: 1;
	filter: alpha(opacity=100);
}

.lightbox-wrapper .arrow.disabled
{
	display: none;
}

.lightbox-wrapper .arrow-t, .lightbox-wrapper .arrow-b
{
	background-color: #fff;
	border-radius: 3px;
	height: 6px;
	left: 26px;
	position: relative;
	width: 30px;
}

.lightbox-wrapper .arrow-t
{
	top: 38px;
}

.lightbox-wrapper .arrow-b
{
	top: 50px;
}

.lightbox-wrapper .close
{
	cursor: pointer;
	height: 22px;
	opacity: .5;
	filter: alpha(opacity=50);
	position: fixed;
	right: 39px;
	top: 30px;
	width: 22px;
	z-index: 10003;
}

.lightbox-wrapper .close:hover
{
	opacity: 1;
	filter: alpha(opacity=100);
}

.lightbox-wrapper .close .cw, .lightbox-wrapper .close .ccw
{
	background-color: #fff;
	border-radius: 3px;
	height: 6px;
	position: absolute;
	left: -4px;
	top: 8px;
	width: 30px;
}

.lightbox-wrapper .cw
{
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.lightbox-wrapper .ccw
{
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}

.lightbox-wrapper .close-alt, .lightbox-wrapper .arrow-right-alt, .lightbox-wrapper .arrow-left-alt
{
	color: #fff;
	display: none;
	font-size: 2.5em;
	line-height: 100%;
}

.ie8 .lightbox-wrapper .close-alt, .ie8 .lightbox-wrapper .arrow-right-alt, .ie8 .lightbox-wrapper .arrow-left-alt
{
	display: block;
}

.ie8 .lightbox-wrapper .cw, .ie8 .lightbox-wrapper .ccw
{
	display: none;
}

.content-layout .sidebar1
{
	border-right: 1px dotted #B5B5B5;
	margin: 0 auto;
	width: 200px;
}

.content-layout .content
{
	margin: 0 auto;
}

fieldset
{
	border: none;
}

fieldset dl
{
	display: block;
	margin: 0;
	padding: 0;
	background: none;
}

fieldset dt
{
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 12em;
	height: 2em;
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
	background: none;
	line-height: 2em;
	overflow: hidden;
}

fieldset dd
{
	display: block;
	min-height: 2em;
	margin: 0 0 0 12em;
	padding: 0;
	background: none;
	line-height: 2em;
}

fieldset label
{
	display: inline-block;
	width: 12em;
}

fieldset textarea
{
	vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
	float: left;
	display: block;
	border: none;
	padding: 0;
	margin: 0 0.3em 0.3em 0;
	margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
	float: right;
	display: block;
	border: none;
	padding: 0;
	margin: 0 0 0.3em 0.3em;
	margin-top: 0;
}

ul.pagenav
{
	clear: both;
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
	display: block;
	background: none;
	margin: 0;
	padding: 0;
	width: 50%;
	text-align: center;
	content: normal;
}

ul.pagenav li.pagenav-prev
{
	float: left;
}

ul.pagenav li.pagenav-next
{
	margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
	display: block;
	margin: 0;
	padding: 0;
}

div.item-page dl.tabs:before
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	float: left;
	width: 1em;
	height: 2em;
	overflow: hidden;
}

div.item-page dl.tabs dt
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	float: left;
	height: 2em;
	overflow: hidden;
	border-left: solid 1px #7A7A7A;
	border-top: solid 1px #7A7A7A;
}

div.item-page dl.tabs dt h3
{
	margin: 0;
	padding: 0 1em;
	line-height: 2em;
	font-size: 100%;
	overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
	text-decoration: none;
}

div.item-page dl.tabs:after
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	border-left: solid 1px #7A7A7A;
	content: " ";
	overflow: hidden;
	height: 2em;
}

div.item-page div.current
{
	clear: both;
	border: solid 1px #7A7A7A;
}

div.item-page div.current dd.tabs
{
	margin: 0;
	padding: 0;
}

div.item-page .panel
{
	border: solid 1px #7A7A7A;
	margin-top: -1px;
}

div.item-page .panel h3
{
	margin: 0;
	padding: 0;
}

div.item-page .panel h3 a
{
	display: block;
	padding: 6px;
	text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
	border-bottom: solid 1px #7A7A7A;
}

div.item-page .panel .pane-slider
{
	margin: 0;
	padding: 0;
}

div.item-page div.pagination ul
{
	clear: both;
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

div.item-page div.pagination li
{
	display: block;
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	float: left;
	white-space: nowrap;
}

div.item-page div.pagination:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.edit.item-page select + div
{
	width: 100% !important;
}

.edit.item-page div > ul
{
	border: 1px solid #B9C2CB;
}

.edit.item-page .search-field
{
	overflow: visible;
}

.edit.item-page .search-field > input
{
	width: 100% !important;
}

.edit.item-page ul > li:before
{
	content: normal;
}

.edit.item-page fieldset
{
	border: solid 1px #7A7A7A;
}

.edit.item-page fieldset legend
{
	padding: 7px;
	font-weight: bold;
}

#editor-xtd-buttons
{
	float: left;
	padding: 0;
}

.toggle-editor
{
	float: right;
}

#searchForm .phrases-box
{
	display: block;
	float: left;
}

#searchForm .ordering-box
{
	text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
	display: inline-block;
	width: auto;
	height: 2em;
	margin: 0;
	padding: 0 0.3em;
}

#mod-finder-searchform label
{
	display: block;
}

#mod-finder-searchform input.inputbox
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 300px;
}

#login-form fieldset label
{
	width: 100%;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
	display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 300px;
}

.breadcrumbs img
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

dl.stats-module
{
	padding: 0.3em 0 0.3em 0.3em;
	margin: 0;
}

dl.stats-module dt
{
	float: left;
	display: block;
	line-height: 1.5em;
	min-height: 1.5em;
	width: 10em;
	padding: 0.3em 0.3em 0 0;
	margin: 0;
	font-weight: bold;
}

dl.stats-module dd
{
	display: block;
	line-height: 1.5em;
	min-height: 1.5em;
	margin: 0 0 0 10em;
}

div.mod-languages ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

div.mod-languages li
{
	background: none;
	margin: 0 0.3em;
	padding: 0;
}

div.mod-languages ul.lang-inline li
{
	display: inline;
}

div.mod-languages ul.lang-block li
{
	display: block;
}

div.mod-languages img
{
	border: none;
	margin: 0;
	padding: 0;
}

div.clr
{
	clear: both;
}

#system-message ul li
{
	background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
}

ul.actions li
{
	background: none;
	list-style: none;
}

.items-row
{
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.items-row .item
{
	display: table-cell;
	vertical-align: top;
}

.items-row .row-separator
{
	display: none;
}

div.pagination p.counter
{
	display: inline-block;
	margin: 0 0.3em 0 0;
	padding: 0;
	background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0 0.3em;
	background: none;
	content: normal;
}

div.tip-wrap
{
	background: #fff;
	border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
	padding: 0.3em;
}

div.tip-wrap div.tip-title
{
	font-weight: bold;
}

table.category
{
	width: 100%;
}

table.category thead th img
{
	padding: 0 0 0 0.3em;
	margin: 0;
	border: none;
}

span.hasTip a img
{
	padding: 0;
	margin: 0;
	border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
	display: block;
	margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
	margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
	display: block;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
	display: inline-block;
	padding: 0;
	margin: 0;
	background: none;
}

div.img_caption p.img_caption
{
	padding: 0.3em 0;
	margin: 0;
}

form .search label, form .finder label
{
	display: none;
}

#search-searchword
{
	margin-bottom: 5px;
}

.cols-2 .column-1, .cols-2 .column-2, .cols-3 .column-1, .cols-3 .column-2, .cols-3 .column-3
{
	float: left;
	clear: right;
}

.cols-2 .column-1
{
	width: 50%;
}

.cols-2 .column-2
{
	width: 50%;
}

.cols-3 .column-1
{
	width: 33%;
}

.cols-3 .column-2
{
	width: 33%;
}

.cols-3 .column-3
{
	width: 34%;
}

.row-separator
{
	clear: both;
	float: none;
	font-size: 1px;
	display: block;
}

ul.categories-module li h1, ul.categories-module li h2, ul.categories-module li h3, ul.categories-module li h4, ul.categories-module li h5, ul.categories-module li h6
{
	display: inline;
}

.only, .phrases
{
	border: solid 1px #ccc;
	margin: 10px 0 0 0px;
	padding: 15px;
	line-height: 1.3em;
}

div.tags
{
	display: inline;
}

.tag-category ul > li:before
{
	content: normal;
}

ul.list-striped > li:before
{
	content: normal;
}

.list-striped
{
	border-top: 1px solid #ddd;
}

.list-striped li, .list-striped dd
{
	border-bottom: 1px solid #ddd;
}

.accordion
{
	margin-bottom: 18px;
}

.accordion-group
{
	margin-bottom: 2px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.accordion-heading
{
	border-bottom: 0;
}

.accordion-heading .accordion-toggle
{
	display: block;
	padding: 8px 15px;
}

.accordion-toggle
{
	cursor: pointer;
}

.accordion-inner
{
	padding: 9px 15px;
	border-top: 1px solid #e5e5e5;
}

.accordion-body.in:hover
{
	overflow: visible;
}

.collapse.in
{
	height: auto;
}

.collapse
{
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	-moz-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease;
}

.element-invisible
{
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */