.icon-48-categorys {
      background-image: url(../images/l_categorys.png);
      padding-left:60px!important;
}

.icon-48-category {
      background-image: url(../images/l_categorys.png);
      padding-left:60px!important;
}

.icon-48-items {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-item {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-newsgalerys {
      background-image: url(../images/l_newsgalerys.png);
      padding-left:60px!important;
}

.icon-48-newsgalery {
      background-image: url(../images/l_newsgalerys.png);
      padding-left:60px!important;
}

.icon-48-news522125 {
      background-image: url(../images/l_news522125.png);
      padding-left:60px!important;
}

.icon-48-new522125 {
      background-image: url(../images/l_news522125.png);
      padding-left:60px!important;
}

.icon-48-tags {
      background-image: url(../images/l_tags.png);
      padding-left:60px!important;
}

.icon-48-tag {
      background-image: url(../images/l_tags.png);
      padding-left:60px!important;
}

.icon-48-newstags {
      background-image: url(../images/l_newstags.png);
      padding-left:60px!important;
}

.icon-48-newstag {
      background-image: url(../images/l_newstags.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}